$bgcColor-dark: #333;
$black: rgb(0, 0, 0);
$white: #fff;
$grey: rgb(187, 187, 187);
$darkGrey: rgb(49, 49, 49);
$darkBlue: rgb(2 122 254);
$blue: rgb(10 205 255);
$orange: #fb9427;
$darkOrange: #9b5102;
